<h2>Index</h2>

<div class="boards-index">
  <ul>
    <% boards.each(function (board) { %>
      <li>
        <a href="#/boards/<%= board.get("id") %>">
          <%= board.get("title") %>
        </a>  
        <button class="destroy btn btn-danger btn-xs" data-id="<%= board.get("id") %>">x</button>
      </li>
    <% }); %>
  </ul>
  <a href="#/boards/new">Create New Board</a>
</div>