<h2><%= board.get("title") %> Lists:</h2>

<div class="lists container-fluid"></div>

<div class="list-new"></div>

<div id="new-list-links">
  <button id="new-list-button" 
          class="btn btn-primary btn-sm">Add New List</button><br>
  <a href="#">Back to Boards Index</a>
</div>