<h2><%= board.get("title") %></h2>

<div class="lists"></div>

<div class="list-new"></div>

<div id="new-list-links">
  <button id="new-list-button">Add New List</button><br>
  <a href="#">Back to Boards Index</a>
</div>