<h2><%= board.get("title") %> Lists:</h2>

<div class="lists"></div>

<div class="list-new"></div>

<div class="members"></div>

<div class="member-new"></div>

<div id="new-list-links">
  <button id="new-list-button" 
          class="btn btn-info btn-sm">Add New List</button>
  <button id="new-member-button"
          class="btn btn-primary btn-sm">Add New Member</button><br>
  <a href="#/boards">Back to Boards Index</a>
</div>