<h2>Add a New Member</h2>

<form id="new-member">
  <label>
    Member Email:
    <input type="text" name="member[email]">
  </label>
  
  <input type="submit" value="Add Member" class="btn btn-success btn-sm">
</form>