<h3><a href="/#/boards">Boards</a></h3>
<div id="content" class="container"></div>

<form action="<%= session_url %>" method="POST">
	<input
		type="hidden"
		name="_method"
		value="DELETE"
	>
	<input
		type="hidden"
		name="authenticity_token"
		value="<%= form_authenticity_token %>"
	>
	<input id="logout" class="btn btn-danger" type="submit" value="Log Out">
</form>
