<div class="list">
  <h3 class="list-title"> <%= list.escape("title") %> <button class="destroy-list hidden-button btn btn-danger btn-xs">x</button></h3>
  <ol class="cards"></ol>
  <div class="card-new"></div>

  <button id="new-card" class="btn hidden-button btn-info btn-xs">Add Card</button>
</div>