<div class="list">
  <h3><%= list.escape("title") %> <button class="destroy-list">X</button></h3>
  <div class="cards"></div>
  <div class="card-new"></div>
  
  <button id="new-card">Add Card</button>
</div>