<div class="list">
  <h3><%= list.escape("title") %> <button class="destroy-list btn btn-danger btn-xs">x</button></h3>
  <div class="cards"></div>
  <div class="card-new"></div>

  <button id="new-card" class="btn btn-info btn-xs">Add Card</button>
</div>