<!DOCTYPE html>
<html>
<head>
  <title>Trellino</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar">
    <div class="navbar-inner">
      <ul class="nav">
        <li>
          <h1><span class="title">Trellino</span></h1>
        </li>
      </ul>
    </div>
  </nav>
  <%= yield %>

<div class="overlay hidden">
</div>

</body>
</html>
